<div class="container">
  <h3>Admin Interface</h3>

  <h4>Statistics</h4>

  <table id="basic-datatable" class="table dt-responsive nowrap w-100">
    <thead>
      <tr>
        <th>Total exchange fee</th>
        <th>Total transactions</th>
        <th>Total success transactions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @completed_orders_fee %> SBTC</td>
        <td><%= @completed_orders %></td>
        <td><%= @all_orders %></td>
      </tr>
    </tbody>
  </table>

  <h4>Orders</h4>

  <table id="basic-datatable" class="table dt-responsive nowrap w-100">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date/Time</th>
        <th>User</th>
        <th>Tx ID</th>
        <th>Send</th>
        <th>Receive</th>
        <th>Exchange rate</th>
        <th>Exchange fee</th>
        <th>Status</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.id %></td>
          <td><%= l(order.created_at, format: :short) %></td>
          <td><%= order.user.email_address %></td>
          <td><%= order.id %></td>
          <td><%= order.send_amount %> <%= order.base_currency %></td>
          <td><%= order.receive_amount %> <%= order.quote_currency %></td>
          <td><%= order.price %></td>
          <td><%= order.fee %></td>
          <td><%= status_badge(order.status) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
