<div class="container">
  <h3><%= "Order #{@order.id}" %></h3>

  <table id="basic-datatable" class="table dt-responsive nowrap w-100">
    <tbody>
      <tr>
        <td>base_currency</td>
        <td><%= @order.base_currency %></td>
      </tr>
      <tr>
        <td>quote_currency</td>
        <td><%= @order.quote_currency %></td>
      </tr>
      <tr>
        <td>quote_address</td>
        <td><%= @order.quote_address %></td>
      </tr>
      <tr>
        <td>send_amount</td>
        <td><%= @order.send_amount %></td>
      </tr>
      <tr>
        <td>price</td>
        <td><%= @order.price %></td>
      </tr>
      <tr>
        <td>fee</td>
        <td><%= @order.fee %></td>
      </tr>
      <tr>
        <td>miner_fee</td>
        <td><%= @order.miner_fee %></td>
      </tr>
      <tr>
        <td>status</td>
        <td><%= @order.status %></td>
      </tr>
    </tbody>
  </table>
</div>
